<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534128909934-044kf9npa0omset0h9853q9qds9upg5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534128909934-044kf9npa0omset0h9853q9qds9upg5p</string>
	<key>API_KEY</key>
	<string>AIzaSyB7jy-hgNyXubMARtnz2lGJeBzkSpRy29w</string>
	<key>GCM_SENDER_ID</key>
	<string>534128909934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-87928</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-87928.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534128909934:ios:442a06110d66ea147f107f</string>
</dict>
</plist>